Time Sleep Per Number: =0
Browser type 1.Brave 2.Chrome: =1
Data ID Name: =
Your Token: =
Do you went to use five_sim (y/n): =y
Enter your IP: =193.70.27.174
Enter your PORT: =10004
Do you went to use proxy (p/n) Otp Recovary (y): =y
Enter recovary mathod (1/2): =1
Do you went to change recovery (y/n): =y
Do you went to change password (y/n): =y
Do you went to change language (y/n): =y
Do you went to logout devise (y/n): =n
Do you went to change date (y/n): =y
Do you went to change phone number (y/n): =n
Do you went to change Backup 2 step (y/n): =y
Do you went to add 2 step number (y/n): =y
Do you went to add another number (y/n): =yes
Do you went to remove 2 step (y/n): =n
Do you went to Forget password (y/n): =n
Do you went to use proxy (y): =y
Do you Need OTP Number (y/n): =n
Enter your token method (1/2): =1
Do you Need Mood (1/2): =1
Select Proxy Type (1- HTTP, 2- HTTPS, 3- SOCKS 5): =3
Capcha Manual Complete (y/n): =n
Need Text Captcha Verifi (y/n): =y
Text Captcha API: =sub_1U1OYGCRwBwvt6ptWJ0APyZV
token: =ff
